body{
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    height: 150px;
}

#company{
   display: flex;
   justify-content: center;
   
}
#company div h1{
    font-size: 2.5em;
    letter-spacing: 0.1em;
}

.option {
    display: flex;
    justify-content: center;
    justify-content: space-around;

    
}

.option a{
    color: black;
    font-size: 25px;
 
}

.goal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height: 600px;
    width: auto;
    margin-top: -10px;
}

#name , #aim{
  background-color: white;
  width: 100%;
  text-align: center;
}

  #name {
     font-size: 20px;
  }


#aim p{
    font-size: 25px;
    margin-top: -10px;
}



#destination{
    text-align: center;
}

#destination p{
    font-size: 1.8em;
    margin-top: -20px;
}

#destination h2{
    font-size: 2.5em;
    letter-spacing: 0.1em;
}

#main img{
    width:300px;
    height: 120px;
}

.item span{
    font-size: 1.5em;

}

#main{
    display: flex;
    height: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.item span{
    position: relative;
    bottom: 50px;
    left: 15px; 
}

#team{
    display: flex;
    justify-content: space-evenly;
   background-image: url("sefora.jpg");
}

.member img{
    height: 300px;
    width: 200px;
    margin-top: 10px;
}

.people{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0px;
}

.member span{
    font-size: 1.2em;
    word-spacing: 0.3cm;
    color:white;
    
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info p{
   font-size: 20px;
}

.number{
    margin-top: -10px;
}

 /* Meadia Quries */

@media only screen and (max-width: 768px){
  body{
      margin-left: 10px;
      margin-right: 10px;
  }
 #main{
        display: block;    
 }
 
 .item{
     text-align: center;
     margin-bottom: 10px;
 }

 .item span {
     position: absolute;
     right: 50px;
     bottom: auto;
 }
 #team{
     display: block;
    
 }

 .member{
     text-align: center;
 }
}
